
    <div id="footer">
      <p class="status">&copy; 2008 Tullok</p>
      <img id="show-console" class="clickable" src="resources/images/up.png" alt="Show Error Console" title="Show Error Console" width="16px" height="16px" />
      <img id="edit-mode" class="clickable" src="resources/images/lock.png" alt="Allow Edit Mode" title="Allow Edit Mode" width="16px" height="16px" />
      <div id="console">
	<ul>
	  <li>&copy; 2008 Tullok</li>
	</ul>
	<form method="post" action="sql">
	    <input name="query" id="query" class="text" />
	    <input type="image" class="clickable" src="resources/images/database_go.png" alt="Run SQL Code" title="Run SQL Code" />
	    <img src="resources/images/two-pane.png" class="clickable" alt="Run multiline code" title="Run multiline code" />
	</form>
      </div>
    </div>
  </body>
</html>
